<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Converter{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% load crispy_forms_tags %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
  <main>
    <div class="container mb-4">
    {% block content %}
    <ul class="nav nav-tabs my-4">
      <li class="nav-item">
      <h2>Youtube to sld</h2>
      <form method="post" class="uniForm">
        {% csrf_token %}
        <input id="link" type="text" name="link" placeholder="paste link here...">
        <br>
        <label>Bit rate of audio : </label> <span id="br">20</span>
        <br>
        <input type="range" min="20" max="120" value="20" id = "br_slider" name="bitrate" >
        <script>
          $(document).on('input', '#br_slider', function() {
              $('#br').html( $(this).val() );
          });
        </script>
        <br>
        <button value="submit" type="submit" class="btn btn-primary">convert</button>
      </form>
    </li>
  </ul>
</div>
    {% endblock %}
  </main>
</body>
</html>

</body>
</html>